$breakpoint-desktopLarge: 2500px;
$breakpoint-desktop: 1024px;
$breakpoint-mobile: 320px;
$breakpoint-tablet: 769px;
$breakpoint-columns: 578px;
$breakpoint-desktopSmall: 975px;

// WebPage colors
$main-font-color: #fff;
$main-background-color: #000;
$secondary-font-color: #000;
$secondary-background-color: #fff;
$main-links-color: lightseagreen;
$dark-theme-background: #121212;
$dark-theme-background2: #181818;
$dark-theme-surface: #282828;
$main-icon-color: lightseagreen;
$main-hover-color: lightseagreen;
$store-header-underline: #000;
$cart-data-font: #000;
$cart-data-underline: #000;
$table-subtotals-font: #5e5e5e;
$detail-color: lightseagreen;

// fonts
$footer-main-font: "fontMontserratRegular", sans-serif;
$footer-title-font: "fontMontserratBold", sans-serif;
$footer-copyRigth-font: "fontMontserratSemiBold", sans-serif;
$nav-font: "fontMontserratRegular", sans-serif;
$nav-tittle-font: "fontMontserratBold", sans-serif;
$section-title-font: "fontMontserratBold", sans-serif;
$section-body-font: "fontMontserratLight", sans-serif;
$section-main-title-font: "fontRobotoBold", sans-serif;
$section-button-font: "fontMontserratBold", sans-serif;
$contact-main-font: "fontMontserratRegular", sans-serif;
$contact-title-font: "fontMontserratBold", sans-serif;
$contact-text-font: "fontMontserratSemiBold", sans-serif;
$table-headers-font: "fontMontserratSemiBold", sans-serif;
$table-data-font: "fontMontserratSemiBold", sans-serif;
$table-main-data-font: "fontMontserratBold", sans-serif;
$cart-selectors-font: "fontRobotoRegular", sans-serif;
$cart-mobile-product-title: "fontMontserratBold", sans-serif;
$cart-mobile-summary-font: "fontMontserratSemiBold", sans-serif;
$cart-mobile-total-font: "fontMontserratBold", sans-serif;
$detail-index-font: "fontMontserratSemiBold", sans-serif;
$detail-info-font: "fontMontserratRegular", sans-serif;
$detail-title-font: "fontMontserratBold", sans-serif;
$detail-inStock-font: "fontMontserratSemiBold", sans-serif;
$product-title-font: "fontMontserratBold", sans-serif;
$product-subTitle-font: "fontMontserratSemiBold", sans-serif;
