@font-face {
    font-family: "fontMontserratRegular";
    src: url("../assets/fonts/Montserrat-Regular.ttf");
}

@font-face {
    font-family: "fontMontserratBold";
    src: url("../assets/fonts/Montserrat-Bold.ttf");
}

@font-face {
    font-family: "fontRobotoRegular";
    src: url("../assets/fonts/Roboto-Regular.ttf");
}

@font-face {
    font-family: "fontRobotoBold";
    src: url("../assets/fonts/Roboto-Bold.ttf");
}
@font-face {
    font-family: "main-header";
    src: url("../assets/fonts/Roboto-Bold.ttf")
}
@font-face {
    font-family: "headers-font";
    src: url("../assets/fonts/Montserrat-Bold.ttf")
}
